.articles {
    &__container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        @extend %dmsans-700;
        color: #1a1a1a;
        padding-bottom: 46px;
        max-width: 1200px;
        margin: auto;
    }

    &__left {
        font-size: 36px;
    }

    &__left-title {
        font-size: 36px;
        @extend %dmsans-700;
    }

    &__link {
        font-size: 16px;
        @extend %dmsans-700;
        color: #1a1a1a;

        svg {
            margin-left: 16px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 1176px;
    }

    &__item {
        min-width: 370px;
        border: 1px solid #fff;
        margin-right: 33px;
    }

    &__item-imglink {
        display: block;

        img {
            height: 252px;
            object-fit: cover;
        }
    }

    &__content {
        padding: 18px 31px;
        background-color: #fff;
    }

    &__content-link {
        @extend %dmsans-500;
        font-size: 18px;
        color: #262626;
    }

    &__content-desc {
        min-width: 300px;
        min-height: 96px;
        border-bottom: 2px solid #e0e0e0;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__content-news {
        background-color: $gray;
        padding: 3px 35px;
        position: absolute;
        transform: translateY(-427%);
        border-radius: 50px;
    }

    &__span {
        @extend %poppins-700;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
    }

    &__content-date,
    &__content-author {
        padding-left: 30px;
        position: relative;
        @extend %rubik-400;
        font-size: 12px;
        color: #222933;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
        }

    }

    &__content-author {
        margin-left: 30px;

        &::before {
            background-image: url('../images/articles/icons-art/blog-hero.svg');
        }
    }

    &__content-date {
        &::before {
            background-image: url('../images/articles/icons-art/blog-time.svg');
        }
    }

    &__content-footer {
        margin-top: 10px;
    }
}




@media (max-width: 1200px) {
    .articles {
        &__container {
            max-width: 480px;
        }

        &__items {
            display: block;
            justify-content: none;
            max-width: 403px;
        }

        &__item {
            min-width: 445px;
        }

        &__item-imglink {
            img {
                min-height: 300px;
                max-width: 480px;
            }
        }

    }

}

@media (max-width: 992px) {}

@media (max-width: 835px) {}

@media (max-width: 576px) {

    .articles {
        &__title {
            display: block;
            justify-content: none;
            text-align: center;
        }

        &__container {
            max-width: 304px;
        }

        &__left-title {
            margin-bottom: 20px;
        }

        &__item-imglink {
            img {
                min-height: 250px;
                max-width: 272px;
            }
        }

        &__content-desc {
            min-width: 220px;
            min-height: 95px;

        }

        &__item {
            min-width: 274px;
        }


        &__content-link {
            font-size: 15px;
        }

        &__content-author {
            display: block;
            margin-left: 0px;
        }

        &__left-title {
            margin-bottom: 20px;
            line-height: 1.2;
        }
    }
}