.articles {
    justify-content: center;
    display: flex;

    &__title {
        display: flex;
        justify-content: space-between;
        @extend %dmsans-700;
        color: #1a1a1a;
        margin-bottom: 46px;
    }

    &__left {
        font-size: 36px;

        &-title {
            font-size: 36px;
            @extend %dmsans-700;
        }
    }

    &__link {
        font-size: 16px;
        @extend %dmsans-700;
        color: #1a1a1a;

        svg {
            margin-left: 16px;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 1176px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        max-width: 1176px;
    }

    &__item {
        min-width: 370px;
        border: 1px solid #fff;
        margin-right: 33px;
    }

    &__item-imglink {
        display: block;

        img {
            height: 252px;
            object-fit: cover;
        }
    }

    &__content {
        padding: 18px 31px;
        background-color: #fff;
    }

    &__content-link {
        @extend %dmsans-500;
        font-size: 18px;
        color: #262626;
    }

    &__content-desc {
        max-width: 300px;
        min-height: 96px;
        border-bottom: 2px solid #e0e0e0;
    }

    &__content-news {
        background-color: $gray;
        padding: 3px 35px;
        position: absolute;
        transform: translateY(-439%);
        border-radius: 50px;
    }

    &__content-span {
        @extend %poppins-700;
        font-size: 14px;
        color: #fff;
        text-transform: uppercase;
    }

    &__content-date,
    &__content-author {
        padding-left: 30px;
        position: relative;
        @extend %rubik-400;
        font-size: 12px;
        color: #222933;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            left: 0;
        }
    }

    &__content-author {
        margin-left: 30px;
    }

    &__content-author::before {
        background-image: url('../images/articles/icons-art/blog-hero.svg');
    }

    &__content-date::before {
        background-image: url('../images/articles/icons-art/blog-time.svg');
    }

    &__content-footer {
        margin-top: 10px;
    }
}