.categories-info {

    &__inner {
        background-color: $bg;
    }
}

.info {
    display: flex;
    justify-content: space-between;

    &__items {
        position: relative;
        padding: 43px 115px;
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 18px;
        color: #1f2044;
        margin-bottom: 5px;
    }

    &__items::before {
        content: "";
        position: absolute;
        left: 39px;
        height: 50px;
        width: 50px;
    }

    &__items--support {
        border-right: 1px solid #e8e4df;
        max-width: 457px;
        width: 100%;
        margin-left: 109px;

        &::before {
            background-image: url('../images/icons/info-items/icon-supp.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 48px;
            top: 43px;
        }
    }

    &__items--delivery {
        border-right: 1px solid #e8e4df;
        max-width: 481px;
        width: 100%;
        margin-left: 123px;

        &::before {
            background-image: url('../images/icons/info-items/icon-deliv.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    &__items--payment {
        max-width: 520px;
        width: 100%;
        margin-left: 124px;

        &::before {
            background-image: url('../images/icons/info-items/icon-pay.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 51px;
            top: 48px;
        }
    }

    &__text {
        max-width: 227px;
        line-height: 2;
    }
}