.design {
    &__container {
        max-width: 1170px;
        margin: 0 auto;
        padding: 0 15px;
    }

    &__title {
        text-align: center;
        margin-bottom: 21px;
        margin-top: 63px;
    }

    &__filter-btn {
        text-align: center;
        background-color: transparent;
        margin-bottom: 50px;
        @extend %dmsans-700;
        font-size: 16px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 28px;
        justify-content: center;
    }

    &__item {
        background-color: #f8f8f8;
        min-height: 244px;
        width: 100%;
        min-width: 360px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        padding: 49px 0px 0px 0px;
    }

    &__img {
        position: relative;
        margin: 0px 150px;
        bottom: 43px;
        width: auto;
        height: 130px;
    }

    &__content {
        width: 182px;
        margin-left: 27px;
        @extend %dmsans-700;
    }

    &__item-title {
        color: #191919;
        font-size: 20px;
        margin-bottom: 16px;
    }

    &__item-subtitle {
        color: $gray;
        font-size: 16px;
    }

    .mixitup-control-active {
        outline: 0;
        color: #191919;
    }
}


@media (max-width: 1200px) {
    .design {
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        &__container {
            max-width: 920px;
        }
    }
}


@media (max-width: 992px) {}


@media (max-width: 768px) {
    .design {
        &__container {
            max-width: 306px;
        }

        &__items {
            grid-template-columns: repeat(1, 1fr);
        }

        &__item {
            min-height: 293px;
            min-width: 453px;
        }

        &__img {
            height: 146px;
        }

    }
}


@media (max-width: 576px) {
    .design {
        &__container {
            max-width: 506px;
        }


        &__item {
            min-height: 340px;
            min-width: 298px;
        }

        &__img {
            bottom: -26px;
            height: 130px;
        }
    }
}


@media (max-width: 400px) {
    .design__img {
        margin: 0px 100px;
    }

}