.design {
    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px 28px;
        padding: 0px 265px;
        justify-content: center;
    }

    &__item {
        background-color: #f8f8f8;
        min-height: 244px;
        width: 100%;
        min-width: 360px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        padding: 49px 0px 0px 0px;
    }

    &__img {
        position: relative;
        margin: 0px 150px;
        bottom: 43px;
        width: auto;
        height: 130px;
    }

    &__content {
        width: 182px;
        margin-left: 27px;
        @extend %dmsans-700;
    }

    &__item-title {
        color: #191919;
        font-size: 20px;
        margin-bottom: 16px;
    }

    &__item-subtitle {
        color: $gray;
        font-size: 16px;
    }

    .mixitup-control-active {
        outline: 0;
        color: #191919;
    }
}

.design__filter-btn {
    text-align: center;
    background-color: transparent;
    margin-bottom: 50px;
    @extend %dmsans-700;
    font-size: 16px;
}