.partners {
    padding-top: 75px;
    background-color: #fef7f0;
    margin-top: -168px;

    &__item {
        padding: 141px 241px 12px;
    }

    &__list {
        height: 170px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}