.products {

    &__filter-btn {
        text-align: center;
        background-color: transparent;
        margin-bottom: 50px;
        @extend %dmsans-700;
        font-size: 16px;
    }

    .mixitup-control-active {
        outline: 0;
        color: #191919;
    }
}


.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 33px 6px;
    justify-content: center;
    padding: 0px 303px;

    &__items {
        margin-top: 37px;
        text-align: center;

        &-title {
            @extend %dmsans-500;
            color: #243f4d;
            line-height: 3em;
        }

        &-price {
            @extend %dmsans-700;
            color: $gray;
        }
    }
}

.product-item {
    max-width: 370px;
    width: 275px;
    height: 100%;
    min-height: 410px;
    background-color: #fff;
    box-shadow: 3px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 10px;
    position: relative;
    padding: 54px 43px;


    &__img-box {
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
    }

    &__link-box {
        transition: all .3s;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 13px;
        height: 50px;
        margin: 0 auto;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translateY(300%);
    }

    &__link {
        display: inherit;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        padding: 13px 13px;
        margin: 10px;
        transition: all .80s;
        background-color: #fff;
        border: none;
        cursor: pointer;

        path {

            fill: $gray;
        }
    }

    &__link:hover {
        background-color: $gray;

        path {
            fill: #fff;

        }
    }

    &__images {
        height: 189px;
        width: 100%;
        margin: auto;
        object-fit: contain;
        max-width: 266px;
        max-height: 260px;
    }

    &:hover {
        .product-item__link-box {
            transform: translateY(0);
        }
    }
}