html,
body {
    height: 100%;
}

body {
    font-size: 15px;
    line-height: 25px;
    color: $default;
    @extend %dmsans-500;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1748px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    font-size: 15px;
    line-height: 25px;
    color: $default;
    @extend %dmsans-500;
}

.title{
    font-size: 36px;
    line-height: 42px;
    color: #191919;
    @extend %dmsans-700;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 78px;
}

.button {
    outline: 0;
    border: 0;
    background: transparent;
    color: white;
}