$default:#8d8d8d;
$title: #436372; 
$accent: #fcd7b6;
$gray: #a3bbc8;
$bg-white: #edf1f4;
$another: #0dacff;
$bg: #fef7f0;





%dmsans-700 {
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%dmsans-400 {
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400 {
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}
