.statistics {
    padding: 125px 0;

    &__title {
        margin-bottom: 50px;
    }

    &__inner {
        background-repeat: no-repeat;

        background-position: left 0%;
        min-height: 680px;
    }

    &__content {
        max-width: 551px;
        margin-left: auto;
        padding: 112px 0px;
    }

    &__info {
        display: flex;
        margin-bottom: 54px;
    }

    &__num {
        font-size: 140px;
        @extend %rubik-700;
        color: $gray;
        margin-top: 5px;
    }

    &__description {
        margin-left: 30px;
        @extend %rubik-400;
        font-size: 16px;
        color: $about;
    }

    &__text {
        @extend %rubik-400;
        font-size: 16px;
        color: $about;
        padding: 0px 0px 64px 0px;
        border-bottom: 2px solid #ebeef3;
    }

    &__data {
        display: flex;
        margin-top: 42px;
    }

    &__column {
        display: flex;
        padding-right: 37px;
        border-right: 2px solid #e6eaf0;
        &:last-child{
            border: none;
        }

        &+& {
            padding-left: 33px;
        }

        &::before {
            max-height: 50px;
            max-width: 50px;
            padding-right: 24px;
        }
    }

    &__column--revenue::before {
        content: url(../images/statistics/icons/revenue.svg);
    }

    &__column--awards::before {
        content: url(../images/statistics/icons/awards.svg);
    }

    &__column--projects::before {
        content: url(../images/statistics/icons/projects.svg);
    }

    &__number {
        @extend %dmsans-700;
        font-size: 36px;
        color: $about;
        margin-bottom: 12px;
    }

    &__name {
        @extend %dmsans-700;
        color: #4c4c4c;
        font-size: 16px;
        text-align: center;
    }

    &__numbers {
        margin-left: 18px;
    }
}