@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: normal;
    src: local('Poppins-Bold'),
        url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: normal;
    src: local('Poppins-SemiBold'),
        url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    font-weight: 700;
    font-size: normal;
    src: local('DMSans-Bold'),
        url('../fonts/DMSans-Bold.woff2') format('woff2'),
        url('../fonts/DMSans-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    font-weight: 400;
    font-size: normal;
    src: local('DMSans-Regular'),
        url('../fonts/DMSans-Regular.woff2') format('woff2'),
        url('../fonts/DMSans-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'DMSans';
    font-weight: 500;
    font-size: normal;
    src: local('DMSans-Medium'),
        url('../fonts/DMSans-Medium.woff2') format('woff2'),
        url('../fonts/DMSans-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: normal;
    src: local('Rubik-Bold'),
        url('../fonts/Rubik-Bold.woff2') format('woff2'),
        url('../fonts/Rubik-Bold.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: normal;
    src: local('Rubik-Medium'),
        url('../fonts/Rubik-Medium.woff2') format('woff2'),
        url('../fonts/Rubik-Medium.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: normal;
    src: local('Rubik-Regular'),
        url('../fonts/Rubik-Regular.woff2') format('woff2'),
        url('../fonts/Rubik-Regular.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    font-size: normal;
    src: local('Rubik-Light'),
        url('../fonts/Rubik-Light.woff2') format('woff2'),
        url('../fonts/Rubik-Light.woff') format('woff');
    font-display: swap;
}

%btn {
    padding: 12px 26px;
    text-transform: uppercase;
    color: #fff;
    background-color: $accent;
}

%checkbox-hidden,
%radio-hidden{
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}


@function max($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
    @return m#{i}n(#{$numbers});
}