$default:#8d8d8d;
$title: #436372;
$accent: #fcd7b6;
$gray: #a3bbc8;
$bg-white: #edf1f4;
$another: #0dacff;
$bg: #fef7f0;
$about: #243f4d;


%poppins-700 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

%poppins-600 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

%dmsans-700 {
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
}

%dmsans-400 {
    font-family: 'DMSans', sans-serif;
    font-weight: 400;
}

%dmsans-500 {
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
}

%rubik-700 {
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-300 {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}